<mat-card>
    <mat-card-header>
        <mat-card-header>
            <h2>Listado de Contribuyentes</h2>
        </mat-card-header>
    </mat-card-header>
    <mat-card-content>
        <form>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap.gt-sm="16px">
                <mat-form-field fxFlex="60%">
                    <mat-label>Buscar por Nombre o Identificacion del contrbuyente</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>



</mat-card>