<mat-card>
    <mat-card-header>
        <h2>Formulario de Pago</h2>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <span><h3>Datos de la Vivienda </h3></span>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <mat-form-field fxFlex="auto">
                    <mat-label>Codigo</mat-label>
                    <input matInput formControlName="codigo" type="text">
                </mat-form-field>
                <mat-form-field fxFlex="auto">
                    <mat-label>Propietario</mat-label>
                    <input matInput formControlName="propietario" type="text">
                </mat-form-field>
                <mat-form-field fxFlex="auto">
                    <mat-label>Estado</mat-label>
                    <input matInput formControlName="estado" type="text">
                </mat-form-field>

            </div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <mat-form-field fxFlex="auto">
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="descripcion" type="text">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px" fxLayoutAlign="center center">
                <button mat-raised-button color="accent" (click)="openDialog()"><mat-icon>search</mat-icon>Buscar Vivineda</button>
            </div>

            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <span><h3>Datos del pago</h3></span>
            </div>

            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <mat-form-field fxFlex="auto">
                    <mat-label>Mes</mat-label>
                    <mat-select matInput formControlName="mes">
                        <mat-option *ngFor="let item of meses" [value]="item.id">{{item.mes}}</mat-option>

                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex="auto">
                    <mat-label>Año</mat-label>
                    <input matInput formControlName="año" type="text">
                </mat-form-field>
            </div>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
                <mat-form-field fxFlex="auto">
                    <mat-label>Monto</mat-label>
                    <input matInput formControlName="monto" type="number">
                </mat-form-field>

                <mat-form-field fxFlex="auto">
                    <mat-label>Mora</mat-label>
                    <input matInput formControlName="mora" type="number">
                </mat-form-field>

                <mat-form-field fxFlex="auto">
                    <mat-label>Total</mat-label>
                    <input matInput formControlName="total" type="number">
                </mat-form-field>
            </div>


            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" (click)="save()"><mat-icon>payment</mat-icon> Generar Pago</button>
            </div>

        </form>
    </mat-card-content>
</mat-card>